
@{
    Layout = null;
    ViewBag.Title = "Not Found";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HttpStatusCodeHandler</title>
</head>
<body>
    <h1>@ViewBag.ErrorMessaage</h1>
</body>
</html>
