
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeniedPath</title>
</head>
<body>
    <h1>Access Denied</h1>
    <a asp-action="Logout" asp-controller="Home" class="btn btn-primary">Logout</a>
</body>
</html>
