
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div> 
        <h1>Index 3 in Simple1Controller</h1>
        <!--<h3>@TempData["mykey3"]</h3>--> @*  From Controller Simple to Simple1  *@

        @{ 
            TempData["mykey4"] = "Dhokha";
        }
    </div>
</body>
</html>
