@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCustomer</title>
</head>
<body>
    <div>
        <form action="~/Customer/SetCustomer1" method="post">
            Customer Code: <input type="number" id="ccode" name="Cust_Code" /> <br />
            Customer Name: <input type="text" id="cname" name="Cust_Name" /><br />
            Customer City: <input type="text" id="ccity" name="Cust_City" /><br />
            <input type="submit" /> <br />

        </form>
    </div>
</body>
</html>
