
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetCustomer3</title>
</head>
<body>
    <div>
        Customer Code : @Model.Cust_Code <br />
        Customer Name : @Model.Cust_Name <br />
        Customer City : @Model.Cust_City <br />
    </div>
</body>
</html>
