<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>

    <footer style="border: 1px solid red; display: inline;">
        <b>Thank you For Your Support</b>
    </footer>
</body>
</html>

