
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RedirectingUser</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
    <script src="~/js/Site1.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-color: rgb(1, 19, 38 );" onload="myFunction2()">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-9 col-12 mx-auto">
                <h2 class="text-center text-danger" style="font-family: 'Merriweather Sans', sans-serif; font-size:40px;"> You have already completed your exam</h2>
            </div>

            <div class="col-md-9 col-12 mx-auto mt-4">
                <h2 id="time" class="text-center text-white" style="font-family: 'Merriweather Sans', sans-serif; font-size:25px;"> You will be redirected</h2>
            </div>
        </div>
    </div>
   
</body>
</html>
