


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Course</title>
</head>
<body>
    <form action="Course" method="post">
        <table>
            <tr>
                <td>Course Name</td>
                <td><input type="text" id="CourseName" name="CourseName" /></td>
            </tr>

            <tr>
                <td>Course Id</td>
                <td><input type="text" id="CourseId" name="CourseId"  /></td>
            </tr>

            <tr>
                <td>Course Duration</td>
                <td><input type="number" id="Duration" name="Duration"  /></td>
            </tr>

            <tr>
                <td>Course Level</td>
                <td><input type="text" id="Level" name="Level"  /></td>
            </tr>

            <tr>
                <td><input type="submit" name="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
    
</body>
</html>
