@using HelperCheck.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@helper MyListHelper(string []str)
{

    <ol>
        @foreach (var x in str)
        {

            <li>
                @x
            </li>

        }
    </ol>
    
    
}

@MyListHelper(new string[] {"Soumyajeet","Dippya","Sounak"})

