
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowData</title>
</head>
<body>
    Employee Name:@Html.Display("E_name")<br />
    Employee Email:@Html.Display("Email")<br />
    Employee Age:@Html.Display("Age")<br />
    Gender : @Html.Display("Gender")
</body>
</html>
