<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="DisConnectedConn" connectionString ="data source = LAPTOP-AD63JEEU\SOUMYA; database = DisconnectedArchitecture; integrated security = SSPI"/>
	</connectionStrings>
</configuration>